
__pycache__/simulation.cpython-36.pyc
output/res.txt
tousgenesidentiques/environment.dat
tousgenesidentiques/prot.dat
tousgenesidentiques/tousgenesidentiques.gff
tousgenesidentiques/TSS.dat
tousgenesidentiques/TTS.dat
